/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../../../AppData/Roaming/npm/node_modules/powerbi-visuals-tools/node_modules/css-loader/dist/cjs.js!../../../../AppData/Roaming/npm/node_modules/powerbi-visuals-tools/node_modules/less-loader/dist/cjs.js??ruleSet[1].rules[3].use[2]!./style/visual.less ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.chart-container {
  width: 100%;
  height: 100%;
  display: block;
  /* Important pour le SVG */
}
/* Les lignes de la grille horizontale */
.grid-line {
  stroke: #f0f0f0;
  /* Gris très très clair */
  stroke-width: 1;
  stroke-dasharray: 4, 4;
  /* Pointillés */
}
/* Le texte des axes (Dates et Chiffres) */
.axis-text {
  font-family: 'Segoe UI', sans-serif;
  font-size: 11px;
  fill: #999999;
  /* Gris moyen */
}
/* Optionnel : cacher le texte si trop petit */
svg {
  overflow: visible;
  /* Pour que les étiquettes ne soient pas coupées */
}


/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoidmlzdWFsLmNzcyIsIm1hcHBpbmdzIjoiOzs7QUFBQTtFQUNJO0VBQ0E7RUFDQTtFQUNGLDBCQUEwQjtBQUM1QjtBQUNBLHdDQUF3QztBQUN4QztFQUNJO0VBQ0YseUJBQXlCO0VBQXZCO0VBQ0E7RUFFRixlQUFlO0FBQ2pCO0FBQ0EsMENBQTBDO0FBQTFDO0VBQ0k7RUFDQTtFQUNBO0VBRUYsZUFBZTtBQUNqQjtBQUNBLDhDQUE4QztBQUE5QztFQUNJO0VBRUYsa0RBQWtEO0FBQ3BEIiwic291cmNlcyI6WyJ3ZWJwYWNrOi8vY291cmJlZGVncmFkZTBFNUI5NDMwM0RCQjRCNzE4ODRCOUI1MDBCODQ5NkZCX0RFQlVHLy4vc3R5bGUvdmlzdWFsLmxlc3MiXSwic291cmNlc0NvbnRlbnQiOlsiLmNoYXJ0LWNvbnRhaW5lciB7XG4gICAgd2lkdGg6IDEwMCU7XG4gICAgaGVpZ2h0OiAxMDAlO1xuICAgIGRpc3BsYXk6IGJsb2NrOyAvKiBJbXBvcnRhbnQgcG91ciBsZSBTVkcgKi9cbn1cblxuLyogTGVzIGxpZ25lcyBkZSBsYSBncmlsbGUgaG9yaXpvbnRhbGUgKi9cbi5ncmlkLWxpbmUge1xuICAgIHN0cm9rZTogI2YwZjBmMDsgLyogR3JpcyB0csOocyB0csOocyBjbGFpciAqL1xuICAgIHN0cm9rZS13aWR0aDogMTtcbiAgICBzdHJva2UtZGFzaGFycmF5OiA0LCA0OyAvKiBQb2ludGlsbMOpcyAqL1xufVxuXG4vKiBMZSB0ZXh0ZSBkZXMgYXhlcyAoRGF0ZXMgZXQgQ2hpZmZyZXMpICovXG4uYXhpcy10ZXh0IHtcbiAgICBmb250LWZhbWlseTogJ1NlZ29lIFVJJywgc2Fucy1zZXJpZjtcbiAgICBmb250LXNpemU6IDExcHg7XG4gICAgZmlsbDogIzk5OTk5OTsgLyogR3JpcyBtb3llbiAqL1xufVxuXG4vKiBPcHRpb25uZWwgOiBjYWNoZXIgbGUgdGV4dGUgc2kgdHJvcCBwZXRpdCAqL1xuc3ZnIHtcbiAgICBvdmVyZmxvdzogdmlzaWJsZTsgLyogUG91ciBxdWUgbGVzIMOpdGlxdWV0dGVzIG5lIHNvaWVudCBwYXMgY291cMOpZXMgKi9cbn0iXSwibmFtZXMiOltdLCJpZ25vcmVMaXN0IjpbXSwic291cmNlUm9vdCI6IiJ9*/